<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Probando Layout 2</title>
</head>
<body>
    <div>
        Layout2!!!!
        @RenderBody()
    </div>
</body>
</html>
