@model string
@{
    ViewData["Title"] = "Home Page";
    //int num = 3;
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Bienvenidos al Estacionamiento "El Garage de ORT" </p>
</div>
<div class="principal"> <img src="~/img/parking.jpeg" /></div>