@model string
@{
    ViewData["Title"] = "Home";

}

@if (ViewBag.Mensaje != null)
{
    <div>
        <p class="text-info">@ViewBag.Mensaje</p>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Bienvenidos al Estacionamiento "El Garage de ORT" </p>
</div>
<div class="principal"> <img src="~/img/parking.jpeg" /></div>