<form action="/" method="get">
    Nombre : <input type="text" name="nombre" placeholder="Ingrese su nombre" value="" />
    Apellido : <input type="text" name="apellido" value="" />
    Dni : <input type="text" name="dni" value="" />
    <input type="submit"  value="Enviar" />


</form>


