<form action="/" method="post">
    Nombre : <input type="text" name="nombre" value="" />
    Apellido : <input type="text" name="apellido" value="" />
    Dni : <input type="text" name="dni" value="" />


</form>
