<form action="/" method="get">
    Nombre: <input type="text" placeholder="Ingrese su nombre" name="nombre" value="" />
    Apellido : <input type="text" name="apellido" value="" />
    Dni : <input type="text" placeholder="1111111"   name="dni" value="" />
    Submit :  <input type="submit" name="submit" value="Submit" />
</form>
