<p>Mostrando las Personas con parametros Query String con ? y nombre de parametros</p>
@ViewBag.Persona.Apellido
@ViewBag.Persona.Nombre
@ViewBag.Persona.Dni@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
